

body{
    max-height: 100vh;
    height: 100%;
    height: fit-content;
    background-color:rgba($color: #000000, $alpha: 0.5);
    overflow: hidden;
   
    header{
        height:13vh ;

        background-color:rgba($color: #000000, $alpha: 0.5);
        .container{
            
            display: flex;
            align-items: center;
            
            height: 100%;
            img{
               height: 80%;
               animation: SwipeFormLeft 0.7s ease-in-out;
            }

            
           
            #headerTeamName{
                width: 100%;
                text-align: center;
                font-size: 4rem;
            }
            .statsInfo{
                display: none;
                align-items: center;
                justify-content: center;
                gap: 10%;
                height: 20%;
                width: 100%;
                li{
                    display: flex;
                    
                }
            }
        }
    }
    main{
        display: flex;
        
      aside{
        height: 87vh;
        overflow: hidden;
        overflow-y: scroll;
        width: 15%;
        display: flex;
        justify-content: center;

        

        .teamChoise{
            display: flex;
            flex-direction: column;
            
            
            img{
                max-width: 8rem;
                margin:2.5rem  0rem;
                cursor: pointer;
            }
        }
      }
      .dashboard{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    
        .statsGraph{
            display: flex;
            justify-content: space-around;
            height: 80%;
            .winLooseGraph{
                max-width: 450px;
                overflow: hidden;
            }
        }
      }
    }
    @media (max-width: 1200px) {
        main{
            flex-direction: column;
            aside{
                padding: 0;
                height:17vh;
                width: 100%;
                overflow-x: scroll;
                .teamChoise{
                    flex-direction: row;
                    width: 100%;
                }
            }
            .dashboard{
                
                .statsGraph{}
            }
        }
    }
}

