

body{
    min-height: 100vh;
    height: 100%;
    height: fit-content;
    background: linear-gradient(90deg, rgba(0,107,182,0.30155812324929976) 0%, rgba(237,23,76,0.2987570028011205) 100%);

    overflow: hidden;
   
    header{
        height:13vh ;
        
        background: linear-gradient(90deg, rgba(12,34,48,0.8105217086834734) 0%, rgba(65,28,37,0.8077205882352942) 100%);
        .container{
            
            display: flex;
            align-items: center;
            
            height: 100%;
            img{
               height: 80%;
               
            }

            
           
            #headerTeamName{
                width: 100%;
                text-align: center;
                font-size: 4rem;
            }
            .statsInfo{
                display: none;
                align-items: center;
                justify-content: center;
                gap: 10%;
                height: 20%;
                width: 100%;
                li{
                    display: flex;
                    
                }
            }
        }
    }
    main{
        display: flex;
        
      aside{
        height: 87vh;
        overflow: hidden;
        overflow-y: scroll;
        width: 15%;
        display: flex;
        justify-content: center;

        

        .teamChoise{
            display: flex;
            flex-direction: column;
            
            .active{
                scale: 1.2;
                filter: drop-shadow(0px 0px 10px #FFFFFF);

            }
            img{
                max-width: 8rem;
                margin:2.5rem  2.5rem;
                cursor: pointer;
                transition: 0.2s ease;
                &:hover{
                    scale: 1.2;
                    transition: 0.2s ease;
                }
                
            }
        }
      }
      .dashboard{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    
        .statsGraph{
            display: flex;
            justify-content: space-around;
            height: 80%;
            
            .winLooseGraph{
                max-width: 45rem;
                overflow: hidden;
            }
            .BarGraph{
                overflow: hidden;
            }
        }
      }
    }
    @media (max-width: 1200px) {
        main{
            flex-direction: column;
            aside{
                padding: 0;
                height:17vh;
                width: 100%;
                overflow-x: scroll;
                .teamChoise{
                    flex-direction: row;
                    width: 100%;
                }
            }
            
        }
    }
    @media (max-width: 900px) {
        overflow: visible;
        header{
            .statsInfo{
                width: 0 !important;
                li{
                    font-size: 0;
                }
                span{
                    display: none;
                }
            }
        }
        main{
            .dashboard{
                .statsGraph{
                    flex-direction: column;
                    align-items: center;
                    overflow: hidden;
                    .winLooseGraph{
                        
                        overflow: hidden;
                    }
                    .BarGraph{
                        overflow: hidden;
                        
                        scale: 0.8;
                    }
                }
            }
        }
    }
}

