@font-face {
    font-family: BasketBall;
    src: url(../Basketball.otf);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: aliceblue;
    font-family: BasketBall , Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    
}
html{
    background-image: url(../image/bg.jpg);
    background-size: cover;
    font-size: 62.5%;
}


  * {
    scrollbar-width: auto;
    scrollbar-color: #4a4a4a #ffffff;
  }

  *::-webkit-scrollbar {
    width: 1.2rem;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(0,107,182,0.50155812324929976);
    border-radius: 0.6rem;
    border: 1px double #252525 ;
    
    &:hover{
        background-color: #252525;
    }

   
  }